<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bruce.jwt.base.mapper.TUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bruce.jwt.base.entity.TUser">
        <id column="USER_ID" property="userId" />
        <result column="USERNAME" property="username" />
        <result column="PASSWORD" property="password" />
        <result column="PHONE_NUM" property="phoneNum" />
        <result column="DELETE_FLAG" property="deleteFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        USER_ID, USERNAME, PASSWORD, PHONE_NUM, DELETE_FLAG
    </sql>

</mapper>
